<div class="jumbotron-backgroundImage">
   <div class="transbox">
   <h1>Mongo Scraper</h1>
    <h3 style = "font-family: Cormorant SC">Wired Edition</h3>
   </div>
</div>
<br>
<div class="container-fluid">
{{#each dbArticles}}
<div  value={{this._id}} class="card text-white mb-3">
  <div class="card-header bg-info text-center spacing"><h4><a class="a-color" href="{{this.url}}">{{this.header}}</a>
  <a class = "btn btn-success">Save Articles</a>
  </h4>
  </div>
  <div class="card-body text-center spacing">
    <p class="card-text teal-text"><b>{{this.summary}}</b></p>
  </div>
</div>

{{/each}}
{{#unless articles.length}}
	<div class="alert alert-warning text-center">
    <h4>Uh Oh. Looks like we don't have any new articles.</h4>
    </div>

<div class="card text-white mb-3">
  <div class="card-header bg-info text-center spacing"><h4>What would you like to do?</h4>
  </div>
  <div class="card-body text-center spacing">
    <h5 class="card-title teal-text"><b>Try Scrapping New Articles</b></h5>
    <p class="card-text teal-text"><b>Go to Saved Articles</b></p>
  </div>
</div>
{{/unless}}
</div>

<script src="assets/js/app.js"></script>
 <script>
$(".btn-default").on("click", function(){
  console.log("here")
//event.preventDefault()

var updateBurger = {
eatenVariable: 1,
newBurger: this.value
}
console.log(`${updateBurger.newBurger} and ${updateBurger.eatenVariable} `)
$.ajax("/api/burger/", {
  type:"PUT",
  data:updateBurger
}).then(function(){
console.log(`Changed to eaten: ${updateBurger} + ${updateBurger.newBurger}`)
window.location = self.location
location.reload(true)
})
})   

$(document).ajaxStop(function(){
window.location.reload();
})

 </script>